/* AboutMe.module.css */

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 40px;
  text-align: left;
  /* Align text to the left */
  background-image: url('../public/images/ambg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
}

.title {
  font-size: 1000%;
  font-weight: bold;
  text-decoration: underline;
}

.content {
  font-size: 125%;
  line-height: 1.6;
  max-width: 45%;
  /* Adjust the width as needed */
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* You can add more styles as needed */
@media (max-width: 480px) {


  /* AboutMe.module.css */

  .container {
    display: flex;
    flex-direction: column;
    /* Stack content vertically on small screens */
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    /* Reduce padding for smaller screens */
    text-align: center;
    /* Center-align text on small screens */
    background-image: url('../public/images/ambg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
  }

  .title {
    position: relative;
    font-size: 36px;
    right: 17%;
    /* Reduce font size for smaller screens */
  }

  .content {
    position: relative;
    font-size: 12.5px;
    /* Reduce font size for smaller screens */
    line-height: 1;
    width: 100%;
    /* Take up full width on small screens */
    padding: 0px;
    /* Reduce padding for smaller screens */
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    right: 17%;
    max-width: 70%;
  }

  /* You can add more styles as needed */


}