/* components/Intro.module.css */
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text');
@import url('https://fonts.googleapis.com/css?family=Herr+Von+Muellerhoff');
@import url('https://fonts.googleapis.com/css?family=Italianno');

.introContainer {
  height: 94vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
}

.backgroundImg {
  width: 100%;
  height: auto;
}

.overlayImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 95%;
  z-index: 0;
  overflow: hidden; /* Hide overflowing content */
}

.overlayImg {
  width: 35%; /* Keep this size */
  height: auto;
  position: absolute;
  top: 0;
  left: 30%;
  z-index: 1;

}
.nameContainer {
  position: absolute;
  top: 60%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Center the element perfectly */
  z-index: 1;
  
}

.name {
  margin: 0; /* Remove any default margin for h1 elements */
  font-size: 170px;
  text-align: center;
  color: black;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 185px;
  font-weight: bold;
  z-index: 1;
  display: flex; /* Use flex to ensure no gap between lines */
  flex-direction: column; /* Display lines vertically */
  align-items: center; /* Center text horizontally */
  white-space: nowrap; /* Prevent text from wrapping */
}

.titlesContainer {
  position: absolute;
  top: 20%; /* Position at the top */
  left: 4%; /* Position at the left */
  transform: translate(0, 0); /* Remove centering transform */
  z-index: 0;
}

.titleSD {
  margin: 0; /* Remove any default margin for h1 elements */
  text-align:center;
  color: black;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 80px;
  font-weight: bold;
  z-index: 1;
  display: flex; /* Use flex to ensure no gap between lines */
  flex-direction: column; /* Display lines vertically */
  white-space: nowrap; /* Prevent text from wrapping */
  font-family: "Libre Barcode 39 Text";
}

.cardLang {
  position: absolute;
  right: 69%;
  top: 2%;
  background-color: transparent;
  /* Set a transparent background color */
  backdrop-filter: blur(5px);
  /* Add a blur effect for better merging with the background */
  border: none;
  color: white;

}

.cardStuff {

  position: absolute;
  right: 1%;
  top: 2%;

}

/* components/Intro.module.css */
.githubLink {
  position: absolute;
  bottom: 0%;
  right: 80%;
  /* Set a transparent background color */
  /* Add a blur effect for better merging with the background */
  border: none;
  color: purple;
  z-index: 0;
  font-size: 150px;
}

.linkedinLink {
  position: absolute;
  bottom: 0%;
  right: 72%;
  /* Set a transparent background color */
  /* Add a blur effect for better merging with the background */
  border: none;
  z-index: 0;
  font-size: 150px;
}

.skillsLink {
  position: absolute;
  bottom: 53%;
  left: 9%;
  /* Set a transparent background color */
  /* Add a blur effect for better merging with the background */
  border: none;
  z-index: 1;
}

.Button {

  font-size: 50px;
  padding: 16px 32px; 
  cursor: pointer;

}

/* Media query for screens smaller than 768px (typical smartphone width) */
@media (max-width: 900px) {

  .introContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .backgroundImage {
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    overflow: hidden;
    position: relative;
  }
  
  .backgroundImg {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .overlayImage {
    left: 0;
    width: 100%;
    height: 95%;
    z-index: 0;
    overflow: hidden;
    position: relative;
  }
  
  .overlayImg {
    width: 100%;
    height: 100%;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center the element perfectly */
    z-index: 0;
    position: absolute; /* Position absolutely within .overlayImage */
  }
  .nameContainer {
    top: 52%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center the element perfectly */
    z-index: 1;
    
  }
  
  .name {
    margin: 0; /* Remove any default margin for h1 elements */
    text-align: center;
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    z-index: 1;
    display: flex; /* Use flex to ensure no gap between lines */
    flex-direction: column; /* Display lines vertically */
    align-items: center; /* Center text horizontally */
    white-space: nowrap; /* Prevent text from wrapping */
    font-size: 299%;
  }
  
  .titlesContainer {
    top: 63%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center the element perfectly */
    z-index: 1;
    
  }
  
  .titleSD {
    margin: 0; /* Remove any default margin for h1 elements */
    text-align:center;
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    z-index: 1;
    display: flex; /* Use flex to ensure no gap between lines */
    flex-direction: column; /* Display lines vertically */
    white-space: nowrap; /* Prevent text from wrapping */
    font-family: "Libre Barcode 39 Text";
    font-size: 240%;

  }
  
  .cardLang {
    right: 69%;
    top: 2%;
    background-color: transparent;
    /* Set a transparent background color */
    backdrop-filter: blur(5px);
    /* Add a blur effect for better merging with the background */
    border: none;
    color: white;
  
  }
  
  .cardStuff {
  
    right: 1%;
    top: 2%;
  
  }
  
  /* GitHub link */
  .githubLink {
    top: 35%;
    right: 5%;
    display: flex; /* Add flex display for proper alignment */
    align-items: center; /* Vertically center items */
    /* Set a transparent background color */
    /* Add a blur effect for better merging with the background */
    border: none;
    color: purple;
    z-index: 0;
    font-size: 70px;
    height: 50px; /* Increase the height to cover the entire clickable area */
    line-height: 50px; /* Vertically center text and icon */
  }

  /* LinkedIn link */
  .linkedinLink {
    top: 25%;
    right: 5%;
    display: flex; /* Add flex display for proper alignment */
    align-items: center; /* Vertically center items */
    /* Set a transparent background color */
    /* Add a blur effect for better merging with the background */
    border: none;
    z-index: 0;
    font-size: 70px;
    height: 50px; /* Increase the height to cover the entire clickable area */
    line-height: 50px; /* Vertically center text and icon */
  }

  /* Skills link */
  .skillsLink {
    top: 30%;
    left: 2%;
    display: flex; /* Add flex display for proper alignment */
    align-items: center; /* Vertically center items */
    /* Set a transparent background color */
    /* Add a blur effect for better merging with the background */
    border: none;
    z-index: 0;
    font-size: 24px;
    height: 50px; /* Increase the height to cover the entire clickable area */
    line-height: 50px; /* Vertically center text and icon */
  }

  /* ... other styles ... */

  .Button {
    font-size: 30px;
    padding: 10px 15px;
  }

  .logosContainer {
    position: absolute;
    bottom: 0%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center the element perfectly */
    z-index: 1;
  }
  

  
}







