/* components/Navbar.module.css */

.navbar {
  position: fixed; /* Fixed position */
  top: 0; /* Stick it to the top of the page */
  width: 100%; /* Full width */
  background-color: black !important; /* Transparent background with !important */
  z-index: 1;
}

  .navbar-brand {
    font-size: 35px; /* Adjust the font size */
    margin-left: 20px;
    color: white;
  }
  
  .nav-link {
    color: white; /* Text color for navigation links */
    font-size:20px; /* Adjust the font size */
    margin-right: 20px; /* Spacing between links */
    z-index: 1000; /* Ensure it's above other content */
    position: relative;
    
  }

  .bigLink {
    font-size: 35px;
  }


  