/* PrgLanguages.module.css */

.pLangDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: 'Press Start 2P';
  transition: all 0.5s ease; /* Add a transition for all properties */
}

.pLangText {
  padding-bottom: 20px;
  text-align: center;
  transition: all 0.5s ease; /* Add a transition for all properties */
}

.pLangClosed {
  justify-content: center;
  align-items: center;
  font-size: 120px;
}

.pLangOpen {
  justify-content: flex-start; /* Move text to the left */
  align-items: flex-start; /* Align text to the left */
  height: 100%;
  font-size: 50px;
}

.language {
  display: flex;
  align-items: center; /* Center vertically */
  padding-top: 5px;
  padding-bottom: 5px;

}

.language img {
  margin-right: 10px; /* Add some spacing between the image and text */
}

.language h2 {
  margin-right: 5px; /* Add spacing to the right of the h2 */
}

.language p {
  margin: 0; /* Remove any default margin */
}


