@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text');
@import url('https://fonts.googleapis.com/css?family=Herr+Von+Muellerhoff');
@import url('https://fonts.googleapis.com/css?family=Italianno');
/* PrgLanguages.module.css */

/* PrgLanguages.module.css */

.pLangDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Press Start 2P';
  }
  
  .pLangText {
    padding-bottom: 20px;
    text-align: center;
  }
  
  .pLangClosed {
    justify-content: center;
    align-items: center;
    height: 200px;
    font-size: 90px;
    transition: justify-content 0.5s ease; /* Add transition for smooth animation */
  }
  
  .pLangOpen {
    justify-content: center; /* Move text to the left */
    align-items: flex-start; /* Align text to the left */
    height: 100%;
    font-size: 50px;
    transition: justify-content 0.5s ease; /* Add transition for smooth animation */
  }
  